body{
    background-image: linear-gradient(rgba(34,34,34,0.8)),
     url('https://tse4.mm.bing.net/th/id/OIP.1OTIihxPCMrE_gWGLfexrAAAAA?rs=1&pid=ImgDetMain&o=7&rm=3');
}
.corpo{
    box-shadow: 10px 10px 10px;
    font-style: normal;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(122, 124, 126);
    padding: 10px;
    position:relative;
    font-size: x-large;
    
}
.login{
    background-position: left bottom;
    color: #3b3939;
}
.form{
    text-align: left;
    margin-top: 600px;
}
.buton{
    position: fixed;
    background-color: linear-gradient(135deg, #003366 40%, #222 100%);
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 12px 32px;
    font-size: 1.1em;
}


.overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(20, 20, 20, 0.7);
    z-index: 9998;
}
.criador {
    position: fixed;
    border: 100px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    max-width: auto;
    max-height: 80vh;
    background: #fff;
    border-radius: 32px;
    box-shadow: 0 8px 32px rgba(0,0,0,0.12);
    padding: 20px 50px;
    font-size: 1.25em;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    border: 2px solid #131618;
    animation: fadeIn 0.7s;
    overflow-y:scroll;
}
@keyframes fadeIn {
    from { opacity: 0; transform: translateX(-50%) scale(0.95);}
    to { opacity: 1; transform: translateX(-50%) scale(1);}
}
.criador p {
    margin: 0 0 14px 0;
    font-weight: 500;
}
.renan{
    font-family: 'Georgia', 'Arial', serif;
    text-align:justify;
    font-style:normal;
    font-size: 1.15em;
}
.criador::-webkit-scrollbar {
    width: 5px;
}

.criador::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 6px;
}

.criador::-webkit-scrollbar-thumb {
    background-color: rgba(249, 244, 244, 0.4);
    border-radius: 5px;
}

.criador::-webkit-scrollbar-thumb:hover {
    background-color: rgba(240, 226, 226, 0);
}
.formatacao{
    text-align: justify;
    font-size: 0.80em;
    color: #111;
}
.formatacao_2{
    color: #111;
    text-align:justify;
}
.alinhamento{
    text-align: center;
}
.criador img {
    display: block;
    margin: 20px auto;
}
.botao-link {
    display: inline-block;
    color: #2f2b2b;
    font-weight: bold;
    font-size: 1em;
    margin-right: 20px;
}
.criador_2 {
    box-shadow: 10px 10px 10px;
    position: fixed;
    border: 200px;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 20px;
    padding: 20px 60px;
    font-size: 1.25em;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-align: center;
    border: 2px solid #131618;
   
}

